{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-vue"],
  "vueIndentScriptAndStyle": true,
  "printWidth": 80,
  "proseWrap": "never",
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "vue/html-self-closing": [
    "error",
    {
      "html": {
        "void": "never",
        "normal": "always",
        "component": "always"
      },
      "svg": "always",
      "math": "always"
    }
  ]
}
