{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-vue"],
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": true,
  "printWidth": 80,
  "proseWrap": "never",
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore"
}
