{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"],
  "vueIndentScriptAndStyle": true,
  "printWidth": 200,
  "proseWrap": "never",
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "printWidth": 200
      }
    }
  ]
}
