@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border {
  background-color: #1a1a1a;
  border: 1px solid #262626;
}

/* .desk-hero-image {
  background-image: url('/assets/home/DeskRight.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
} */
/* .controller-box{
  display: grid;
  grid-template-columns:repeat(1,minmax(100px,1fr));
  justify-content: center;
  align-items: center;
  row-gap:2rem;
} */
.grad-black {
  background: linear-gradient(to left, rgba(26, 26, 26, 0), rgba(26, 26, 26, 1));
}

.main-b {
  @apply rounded-xl border-2 border-[#262626];
}

.arrows-background {
  background-color: black;
  border: 2px solid #262626;
  border-radius: 50%;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 50px;
  max-height: 50px;
}
.arrows-background:hover {
  background-color: rgba(163, 161, 161, 0.2);
}
.activebg {
  background-color: #1a1a1a;
}
.fill-gray-400 {
  fill: gray;
}
.default-background-color {
  background-color: #262626;
}

.fill-white {
  fill: white;
}
/* Define the custom styles for the laptop breakpoint */
/* @screen laptop {
  .controller-box {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(1, minmax(100px, 1fr));
  }
} */

/* @screen laptop {
  .controller-box {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    max-width:1280px;
    margin-inline:auto;
  }
} */

/* Layout & Containers */
.section-layout {
  @apply container mx-auto grid justify-center;
}
.section-container {
  @apply mx-auto mt-32 grid w-11/12;
}
.hero-highlight-container {
 @apply grid max-w-[100%] grid-cols-2 grid-rows-2 gap-x-2.5 gap-y-2.5 rounded-md border-2 border-[#262626] p-4 laptop:grid-flow-col laptop:grid-cols-none laptop:grid-rows-none laptop:border-[7px];
}





.primary-prp {
  @apply bg-[#703bf7];
}

.prp-cta {
  @apply bg-[#703BF7] cursor-pointer font-sans hover:bg-purple-500 text-white font-medium text-center rounded-xl;
}
.card-box {
  @apply grid w-full max-w-[29rem] gap-y-6 rounded-xl border-2 border-[#262626] p-6;
}

.shdw-template {
  box-shadow: 1px -1px 18px 1px #262626;
}

/*
  // is migrated to navigation-btn
  .arrows-bg {
    background-color: #1a1a1a;
    border: 2px solid #262626;
    border-radius: 50%;
    padding: 0.7rem;
  } */

.navigation-btn {
  @apply bg-[#1a1a1a] border-2 border-[#262626] rounded-full p-[0.7rem];
}
